body{
font-family:  Georgia, 'Times New Roman', Times, serif;
background-color:  #ffbf80;
}

h1{
font-family:  Georgia, 'Times New Roman', Times, serif;
color:white;
text-align: center;
}
h2{
text-decoration: wavy;
text-align: center;
margin:8px auto;
}
.info{
border: 2px solid white;
margin:  auto;
padding-bottom: 14px;
padding-left: 14px;
}

.all{
    text-align: center;
    margin-top: 20px;
    border: 2px solid white;


}
ul{

    display: inline-block;
  
}

img {
    border-radius: 5%;
    margin: 20px auto;
    display: block;

  }

::-webkit-scrollbar{
background-color: ff9933;
    color: ff9933;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

